@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
.container{
    min-height: 80vh;
   
}
h1{
    text-align: center;
    margin: 12px 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 44px;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.myinput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid rgb(42, 17, 17);
    border-radius: 12px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 20px;
    border: 2px solid rgb(42, 17, 17);
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 20px;
    outline: none;
    box-shadow: 3px 3px rgb(131, 13, 13);
}
.btn:hover{
    background-color:goldenrod;
    color: black;
}
.btn:active{
    background-color: goldenrod;
    box-shadow: 2px 2px black;
    transform: translateY(4px);
}